.weather-box {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.weather-box div {
  margin: 0 20px 0 20px;
}

.country-list {
}

.country-list {
  display: flex;
  flex-direction: row;
}

.border {
  border: 2px solid green;
  border-radius: 15px;
}

.search-bar * {
  margin: 20px;
}

.cross-icon {
  margin: 0 0 0 20px;
}

.weather-display {
  width: 70%;
  max-height: 300px;
}
.weather-display * {
  margin: 0 10px 0 10px;
}

.weather-display-context * {
  margin-top: 15px;
}

.margin10 {
  margin: 0 10% 0 10%;
}
